.uv .rightPanel, .uv .leftPanel, .uv .headerPanel .options {
  background: #1f1f26 !important;
}

.uv-iiif-extension-host.uv-aleph-r3f-extension {
  background: radial-gradient(circle, #42424d, #212126) !important;

  .mainPanel {
    background: none; 

    .centerPanel {  
      #viewer {
        background: none;

        .control-component { 
          background: #1f1f26 !important;
        }

        // Toolbar positioning

        #annotation-toolbar {
          bottom: 8px;

          button {
            height: 26px;
          }

          div[role="toolbar"] {
            max-width: 200px;

            @media only screen and (min-width: @md-min-width) {
              max-width: 300px;
            } 
          }
        }

        &.has-footer-panel #annotation-toolbar {
          bottom: 0px;
        }

        #scene-toolbar {
          right: 0;
          top: -15px;

          button {
            width: 26px;
            height: 26px;
          }
        }

        &.has-title #scene-toolbar {
          top: -45px;
        }
        
        &.has-right-panel #scene-toolbar {
          @media only screen and (min-width: @md-min-width) {
            right: 8px;
          }  
        }
        
        &:not(.has-toolbars) {
          div[role="toolbar"] {
            display: none;
          }
        }
      }
    }
  }
}
